TP_URL=https://la-sayhue.nx.tourplan.net/tourplannx_test/
TP_USER=QUI
TP_PASS=pega_aqui_la_password_del_pdf

BACKEND_URL=https://backend.sayhueque.com/login
BACKEND_USER=usuario_backend
BACKEND_PASS=pega_la_password

# AWS: poner true para correr sin pantalla (headless). En tu PC dejalo false/vacio.
TP_HEADLESS=false
